.cabeçalho__menu-hunburger{
    width: 24px;
    height: 24px;
    background-image: url(../img/Menu.svg);
}

.cabeçalho{


.container_imagem{
    padding: 1em;
}

.lista-menu{     /* --------*/
}

.container__botao:checked ~ .lista-menu{
    display: block;
}

.lista-menu__-titulo,
.lista-menu__titulo{
    color: var(--laranja);
    font-weight: 700;
}
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
.container__botao{
    display: none;
}
